<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo 5 CSS Básico</title>

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="header">
    <a href="/">Início</a>
    <h1>Módulo 5 CSS Básico</h1>
  </div>

  <div id="content">

    <div id="indice">
      <h3>Índice</h3>
      <ul>
        <li> 
          <a href="#tiposCss">Tipos de Css</a>
          <ul>
            <li><a href="#inline">CSS Inline</a></li>
            <li><a href="#interno">CSS Interno</a></li>
            <li><a href="#externo">CSS Externo</a></li>
          </ul>
        </li>
        <li>
          <a href="#elemento_classes_e_ids">Elemento, Classes e Id's</a>
        </li>
        <li>
          <a href="#colors">Cores</a>
          <ul>
            <li><a href="#default_colors">Cores Padrões</a></li>
            <li><a href="#rgb_colors">Cores usando RGB</a></li>
            <li><a href="#rgba_colors">Opacidade</a></li>
            <li><a href="#hex_colors">Cores usando HEXdecimal</a></li>
          </ul>
        </li>
        <li>
          <a href="#backgrounds">Backgrounds</a>
          <ul>
            <li><a href="#backgroud_repeat_div">Background Padrão</a></li>
            <li><a href="#background_cover_div">Background Cover</a></li>
            <li><a href="#background_contain_div">Background Contain</a></li>
            <li><a href="#background_position_div">Background Position</a></li>
            <li><a href="#background_fixed_div">Background Fixed</a></li>
            <li><a href="#background_color_gradient">Background Gradient</a></li>
          </ul>
        </li>
        <li>
          <a href="#unitMeasurements">Unidades de medidas</a>
          <ul>
            <li><a href="#px_example">Pixel</a></li>
            <li><a href="#%_exemple">Porcentagem</a></li>
            <li><a href="#unitViewPort">Viewport</a></li>
            <li><a href="#unitText">Unidade de medida para Texto</a></li>
          </ul>
        </li>
        <li>
          <a href="#textAdjust">Ajustes de Texto</a>
          <ul>
            <li><a href="#text-decoration">Text-decoration</a></li>
            <li><a href="#text-transfomr">Text Transform</a></li>
            <li><a href="#alinhamento">Alinhamento de texto</a></li>
            <li><a href="#styling">Embelezamento</a></li>
            <li><a href="#indentation">Indentação</a></li>
            <li><a href="#text-shadow">Text-Shadow</a></li>
          </ul>
        </li>
        <li>
          <a href="#fontAdjust">Ajuste de Fonte</a>
          <ul>
            <li><a href="#font-family">Font Family</a></li>
            <li><a href="#font-style">Font style</a></li>
            <li><a href="#font-weight">Font Weight</a></li>
          </ul>
        </li>
        <li>
          <a href="#border">Bordas</a>
        </li>
        <li>
          <a href="#marginPadding">Margin e Padding</a>
        </li>
        <li>
          <a href="#box-sizing">Box Sizing</a>
        </li>
        <li>
          <a href="#overflow">Overflow</a>
        </li>
        <li>
          <a href="#links">Links</a>
        </li>
        <li>
          <a href="#listas">Listas</a>
          <ul>
            <li><a href="#unordered_list">Listas Não Ordenadas</a></li>
            <li><a href="#ordered_list">Listas Ordenadas</a></li>
            <li><a href="#list_styling">Estilizando Listas</a></li>
            <li><a href="#custom_list_styling">Estilizando Listas com Imagens</a></li>
            <li><a href="#listaBemEstilizada">Lista estilizada</a></li>
          </ul>
        </li>


      </ul>
    </div>

    <p>
      Para acrescentar estilo a nossa pagina usamos o CSS, basicamente temos 3 formas de usa-lo:
    </p>

    <div id="tiposCss">
      <h2>Tipos de CSS</h2>
      <p>
        O CSS pode ser usado de 3 formas, inline, interno e externo, cada uma dessas formas tem suas
        vantagens e desvantagens.
      </p>

      <div id="inline">
        <h3>CSS Inline</h3>
        <p>
          Podemos adicionar um estilo na própria criação do elemento, pra isso usamos o parâmetro
          <code>style="codigo css"</code>
        </p>

        <h4>Código:</h4>
        <pre>
          <code>
            &lt;p style="background-color: red; color: white;"&gt;texto do paragrafo&lt;/p&gt;
          </code>
        </pre>

        <h4>Resultado:</h4>
        <p class="red">texto do paragrafo</p>

        <ul>
          <li>Para modificarmos a cor do fundo usamos: <code>background-color: cor_desejada</code></li>
          <li>E para modificarmos a cor da letra usamos: <code>color: cor_desejada</code></li>
          <li>Quando temos mais de uma modificação, separamos elas por <code>;</code> <br></li>
          <li>Com css podemos modificar muito mais do que apenas cores...</li>
        </ul>
      </div>

      <div id="interno">
        <h3>CSS Interno</h3>
        <p>
          Usar css direto no elemento nem sempre é interessante, uma vez que se tivermos
          diversos elementos que queremos que o mesmo estilo seja aplicado, teriamos que
          repetir o mesmo <code>style</code> na criação de todos, uma forma de contornar
          isso é usando o css interno, pra que isso seja feito, usamos a tag
          <code>&lt;style&gt;codigo css&gt;/style&gt;</code> dentro da tag <code>head</code> de nossa página.
        </p>

        <h4>Código:</h4>
        <pre>
          <code>
            &lt;head&gt;
              &lt;style&gt;
                p{
                  background-color: blue;
                  color: white;
                }
              &lt;/style&gt;
            &lt;/head&gt;
            &lt;body&gt;
              &lt;p&gt;texto do paragrafo 1&lt;/p&gt;
              &lt;p&gt;texto do paragrafo 2&lt;/p&gt;
              &lt;p&gt;texto do paragrafo 3&lt;/p&gt;
            &lt;/body&gt;
          </code>
        </pre>

        <h4>Resultado:</h4>
        <p class="blue">texto do paragrafo 2</p>
        <p class="blue">texto do paragrafo 1</p>
        <p class="blue">texto do paragrafo 3</p>

        <p>Dessa forma, todos os paragrafos dessa página teriam o mesmo estilo.
          Isso também poderia ser feito com outras tags html como
          <code>&lt;h1&gt;</code> ou <code>&lt;div&gt;</code> por exemplo.
        </p>
      </div>

      <div id="externo">
        <h3>CSS Externo</h3>
        <p>
          Para usarmos o css externo precisamos criar um arquivo <code>.css</code>
          que terá todo o codigo de estilo, depois precisamos usar a tag
          <code>&lt;link rel="stylesheet" href="./endereco_do_arquivo.css"&gt;</code>
          dentro do <code>&lt;head&gt;</code>
        </p>

        <h4>Código:</h4>
        <h5>Arquivo style.css</h5>
        <pre>
          <code>
            p{
              background-color: yellow;
            }
          </code>
        </pre>
        <h5>Arquivo pagina_1.html</h5>
        <pre>
          <code>
            &lt;html&gt;
              &lt;head&gt;
                &lt;link rel="stylesheet" href="./style.css"&gt;
              &lt;/head&gt;
              &lt;body&gt;
                &lt;p&gt;texto do paragrafo da página 1&lt;/p&gt;
              &lt;/body&gt;
            &lt;/html&gt;
          </code>
        </pre>
        <h5>Arquivo pagina_2.html</h5>
        <pre>
          &lt;html&gt;
              &lt;head&gt;
                &lt;link rel="stylesheet" href="./style.css"&gt;
              &lt;/head&gt;
              &lt;body&gt;
                &lt;p&gt;texto do paragrafo da página 2&lt;/p&gt;
              &lt;/body&gt;
            &lt;/html&gt;
        </pre>

        <h4>Resultado:</h4>
        <p class="yellow">texto do paragrafo da página 1</p>
        <p class="yellow">texto do paragrafo da página 2</p>

        <p>
          Dessa forma, podemos usar o mesmo arquivo em quantas paginas <code>html</code>
          quisermos passando apenas o link do arquivo <code>css</code> dentro da tag
          <code>head</code> em cada uma das páginas.
        </p>
      </div>
    </div>

    <div id="elemento_classes_e_ids">
      <h2>Elemento, Classes e Id's</h2>
      <p>
        Além de modificar o estilo de tags html, podemos criar classes e id's
        para que possamos modificar o estilo de um grupo de elementos ou de um
        elemento específico.
      </P>

      <h3>Código</h3>
      <h4>Arquivo index.html</h4>
      <pre>
        <code>
          &lt;html&gt;
            &lt;head&gt;
              &lt;link rel="stylesheet" href="./style.css"&gt;
            &lt;/head&gt;
            &lt;body&gt;
              &lt;p&gt;texto do paragrafo 1&lt;/p&gt;
              &lt;p class="paragrafo"&gt;texto do paragrafo 2&lt;/p&gt;
              &lt;p id="paragrafo_3"&gt;texto do paragrafo 3&lt;/p&gt;
            &lt;/body&gt;
          &lt;/html&gt;
        </code>
      </pre>

      <h4>Arquivo style.css</h4>
      <pre>
        <code>
          p{
            background-color: yellow;
          }
          .paragrafo{
            background-color: green;
          }
          #paragrafo_3{
            background-color: blue;
            color: white;
          }
        </code>
      </pre>

      <h3>Resultado</h3>
      <p class="yellow">texto do paragrafo 1</p>
      <p class="green">texto do paragrafo 2</p>
      <p class="blue">texto do paragrafo 3</p>
    </div>

    <div id="colors">
      <h2>Cores</h2>
      <p>
        Para modificar a cor de fundo de um elemento usamos a propriedade
        <code>background-color: cor_desejada</code> e para modificar a cor do texto
        usamos a propriedade <code>color: cor_desejada</code>
      </p>

      <div id="default_colors">
        <h3>Cores Padrões</h3>
        <p>
          a primeira forma de modificar a cor é usando uma das cores padrões
          (red, blue, yellow, green, etc...) Ao todo são 140 cores prontas para serem usadas.
        </p>
        <pre>
          <code>&lt;p style="background-color: yellow;"&gt;paragrafo amarelo&lt;/p&gt;</code>.
        </pre>

        <h4>Resultado</h4>
        <p class="yellow">paragrafo amarelo</p>
      </div>

      <div id="rgb_colors">
        <h3>Cores usando RGB</h3>
        <p>
          Outra forma de modificar a cor é usando o RGB, que é uma forma de representar
          a cor através de 3 valores, o primeiro é a quantidade de vermelho, o segundo
          é a quantidade de verde e o terceiro é a quantidade de azul, cada um desses
          valores varia de 0 a 255.
        </p>

        <pre>
          <code>&lt;p style="background-color: rgb(255, 0, 0);"&gt;paragrafo vermelho&lt;/p&gt;</code>
        </pre>

        <h4>Resultado</h4>
        <p class="red">paragrafo vermelho</p>
      </div>

      <div id="rgba_colors">
        <h3>Opacidade</h3>
        <p>
          Podemos também modificar a opacidade da cor, para isso usamos o RGBA, que é
          a mesma coisa que o RGB, mas com um quarto valor que representa a opacidade,
          esse valor varia de 0 a 1.
        </p>
        <pre>
          <code>
            &lt;p style="background-color: rgba(0, 128, 0, 0.8);"&gt;paragrafo verde com opacidade&lt;/p&gt;
          </code>
        </pre>
        <h4>Resultado</h4>
        <p style="background-color: rgba(0, 128, 0, 0.5)">paragrafo verde com opacidade</p>
      </div>

      <div id="hex_colors">
        <h3>Cores usando HEXdecimal</h3>
        <p>
          A ultima forma de modificar a cor é usando o HEX, que é uma forma de representar
          a cor através de 6 valores, os 2 primeiros representam a quantidade de vermelho,
          os 2 do meio representam a quantidade de verde e os 2 últimos representam a quantidade
          de azul, cada um desses valores varia de 00 a FF.
        </p>

        <pre>
          <code>&lt;p style="background-color: #00FF00;"&gt;paragrafo verde&lt;/p&gt;</code>
        </pre>

        <h4>Resultado</h4>
        <p class="green">paragrafo verde</p>
      </div>
    </div>

    <div id="backgrounds">
      <h2>Backgrounds</h2>
      <p>
        Além de modificar a cor de fundo de um elemento, podemos adicionar imagens
        como fundo de um elemento.
      </p>

      <div id="backgroud_repeat_div">
        <h3>Background Padrão</h3>
        <img src="images/Ceramica.jpg" alt="imagem de ceramica">
        <p>
          a imagem acima será utilizada, como fundo de uma <code>div</code> pra isso usamos a propriedade
          <code>background-image: url('./endereco/da/imagem')</code> no <code>CSS</code>, o resultado fica assim:
        </p>

        <div id="background_default_result"></div>

        <p>
          Perceba que a imagem por padrão se repete tanto na vertical quanto na horizontal,
          isso acontece graças a propriedade <code>background-repeat</code>
          que tem como padrão o valor <code>repeat</code>
        </p>
      </div>

      <div id="background_cover_div">
        <h3>Background Cover</h3>
        <img src="./images/Fundo_abstrato.jpg" alt="imagem abstrata" style="height: 50px;">
        <p>
          usaremos agora esta imagem como fundo para o mesmo tamanho de <code>div</code>, poderiamos também
          usar o <code>background-repeat: no-repeat</code> para a imagem não se repetir mas caso o fundo
          seja maior que a imagem, ela não preencherá o espaço todo, utilizaremos então o parametro
          <code>background-size: cover</code> para que a imagem preencha toda a <code>div</code>
        </p>
        <div id="background_cover_result"></div>
        <p>
          Dessa forma a imagem não se repete nem na vertical nem na horizontal. Porem fica claro que a
          imagem está sendo cortada, isso acontece porque o tamanho da <code>div</code> não é proporcional
          ao da imagem.
        </p>
      </div>

      <div id="background_contain_div">
        <h3>Background Contain</h3>
        <p>
          Utilizando a mesma imagem e o mesmo tamanho de <code>div</code>, podemos fazer com
          que a imagem se ajuste ao tamanho da <code>div</code> usando a propriedade
          <code>background-size: contain</code>
        </p>
        <div id="background_contain_result"></div>

        <p>
          A imagem se ajusta ao tamanho da <code>div</code> porém assim que a imagem alcançar a proporção
          da <code>div</code> ela começará a se repetir.
        </p>
      </div>

      <div id="background_position_div">
        <h3>Background Position</h3>
        <img src="./images/BackgroundImage.png" alt="log progBR" style="height: 50px;">
        <p>
          Utilizando agora essa logo e o mesmo tamanho de <code>div</code>, agora com fundo amarelo,
          podemos dizer onde queremos que a imagem fique localizada na <code>div</code> usando a
          propriedade <code>background-position: top left</code> somado ao
          <code>background-repeat: no-repeat</code> para que a imagem fique no canto inferior direito,
          o resultado fica assim:
        </p>
        <div id="background_position"></div>
      </div>

      <div id="background_fixed_div">
        <h3>Background Fixed</h3>
        <p>
          Por fim, podemos fazer com que a imagem de um <code>background</code> fique fixo, enquanto rolamos a tela,
          pra isso usamos a propriedade <code>background-attachment: fixed</code>.
        </p>
        <div id="background_fixed_example">
          <h4>Foque no exemplo, ignore o texto</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, eligendi possimus totam
            dolore nihil ab a nam. Quam dolor optio amet rerum sunt. Error quia numquam ratione,
            perferendis quisquam repellendus.Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Fuga, eligendi possimus totam dolore nihil ab a nam. Quam dolor optio amet rerum sunt.
            Error quia numquam ratione, perferendis quisquam repellendus.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsa molestias modi
            iste a quia, quasi ex laudantium, repellendus, debitis consequuntur vitae adipisci
            reprehenderit asperiores magnam quas enim nemo aut!</p>
          </p>
        </div>
      </div>

      <div id="background_color_gradient">
        <h3>Background Gradient</h3>
        <p>
          Além de imagens, podemos usar gradientes como fundo de um elemento, formando um degrade com as cores, para
          isso usamos a propriedade <code>background</code> no <code>css</code> passando a função
          <code>linear-gradient</code> como valor.
          <code>background: linear-gradient(direção, cor1, cor2)</code>
        </p>
        <h4>Exemplos</h4>
        <p>
          Usando <code>background: linear-gradient(to right, red, yellow)</code> temos um degradê da equerda para a
          direita do vermelho ao amarelo
        </p>
        <div id="background_gradient_example_1"></div>

        <p>
          Usando <code>background: linear-gradient(to right, red, 20%, yellow)</code> podemos dizer onde iniciará a cor
          amarela, no exemplo ela começa em 20% da largura do elemento.
        </p>
        <div id="background_gradient_example_2"></div>

        <p>
          Usando <code>background: linear-gradient(to right, red, yellow 20%)</code> podemos dizer onde ficará a parte
          mais forte da cor amarela, no exemplo ela começa/fica mais forte em 20% da largura do elemento.
        </p>
        <div id="background_gradient_example_3"></div>

        <p>
          Usando <code>background: linear-gradient(to left bottom, red, yellow)</code> posso modificar a direção do
          degradê, nesse caso ele vai da direita para a esquerda e de cima para baixo.
        </p>
        <div id="background_gradient_example_4"></div>

        <p>
          Usando <code>background: linear-gradient(to right, red, rgb(0,200,0), #FFFF00)</code> posso selecionar mais de
          uma cor para o degradê. Alem disso posso passar rgb ou hex como cor.
        </p>
        <div id="background_gradient_example_5"></div>

        <p>
          por fim se não for passado direção para o degradê, <code>background: linear-gradient(red, yellow)</code> ele
          será feito de cima para baixo. sendo equivalente a <code>to bottom</code> como direção
        </p>
        <div id="background_gradient_example_6"></div>
      </div>

    </div>

    <div id="unitMeasurements">
      <h2>Unidades de medidas</h2>
      <p>
        Além de cores e imagens, podemos modificar o tamanho de um elemento, para isso usamos a propriedade
        <code>width</code> e <code>height</code> no <code>css</code>, podemos passar valores em <code>px</code>,
        <code>em</code>, <code>rem</code>, <code>%</code>, <code>vh</code> e <code>vw</code>.
      </p>

      <div id="px_example">
        <h3>Pixel</h3>
        <p>
          O <code>px</code> é a unidade de medida mais comum, ela é fixa e não muda de acordo com o
          tamanho da tela. porem 2 telas podem ter o mesmo tamanho (cemtimetros) mas resoluções
          diferentes, fazendo com que o mesmo elemento tenha tamanhos diferentes. ou seja, 50px em uma
          tela de 800px de largura é diferente de 50px em uma tela de 1600px de largura quando visto
          a olho nu.
        </p>
        <pre>
          <code>
            &lt;div style="width: 100px; height: 100px"&gt;&lt;/div&gt;
          </code>
        </pre>
        <div id="divBlue"></div>
      </div>

      <div id="%_exemple">
        <h3>Porcentagem</h3>
        <p>
          A porcentagem é uma unidade de medida relativa, ou seja, ela é calculada com base em
          outra unidade de medida, por exemplo, se um elemento tem 50% de largura, ele terá
          metade da largura do elemento pai.
        </p>
        <pre>
          <code>
            #divVermelha { 
              width: 200px; 
              height: 100px"
            }
            #divAzul { 
              width: 100px; 
              height: 100px"
            }
            #divAmarela {
              width: 50%;
              height: 50%"
            }
          </code>
        </pre>
        <div id="divRed">
          <div id="divYellow"></div>
        </div>
        <div id="divBlue">
          <div id="divYellow"></div>
        </div>
        <p>
          Perceba que a <code>div</code> amarela ocupa 50% do tamanho da <code>div</code> PAI tanto
          horizontalmente quanto verticalmente.
        </p>
      </div>

      <div id="unitViewPort">
        <h3>Viewport</h3>
        <p>
          A unidade <code>vh</code> e <code>vw</code> são relativas ao tamanho da tela, <code>1vh</code>
          é 1% da altura da tela e <code>1vw</code> é 1% da largura da tela.
        </p>
        <pre>
            <code>
              #divVermelha { 
                width: 20vw; 
                height: 10vh"
              }
              #divAzul { 
                width: 10vw; 
                height: 10vh"
              }
              #divAmarela {
                width: 50%;
                height: 50%"
              }
            </code>
          </pre>
        <div id="divRedVP">
          <div id="divYellow"></div>
        </div>
        <div id="divBlueVP">
          <div id="divYellow"></div>
        </div>
        <p>
          Esse exemplo só pode ser observado a medida que a tela é redimensionada, pois as
          <code>div</code> vermelha e azul tem tamanhos relativos a tela(navegador). assim que o
          navegador e redimencionado as <code>div</code> vermelha e azul mudam de tamanho por
          estarem relacionadas ao tamanho da tela e consequentemente a <code>div</code> amarela
          também muda de tamanho por estar usando a porcentagem relacionada a <code>div</code> pai.
        </p>
      </div>

      <div id="unitText">
        <h3>Unidade de medida para Texto</h3>
        <p>
          Podemos utilizar o pixel para definir o tamanho da fonte, mas também podemos usar o
          <code>em</code> e o <code>rem</code>, o <code>em</code> é relativo ao tamanho da fonte do
          elemento pai, já o <code>rem</code> é relativo ao tamanho da fonte do elemento raiz.
        </p>
        <pre>
          <code>
            #divVermelha { 
              font-size: 20px;
            }
            #divAzul { 
              font-size: 2em;
            }
            #divAmarela {
              font-size: 2rem;
            }
          </code>
        </pre>
        <div id="divRedText">
          O texto dessa div está com 20px
          <div id="divBlueText">O texto dessa div está com 2em = 40px</div>
          <div id="divYellowText">O texto dessa div está com 2rem = 32px</div>
        </div>
        <p>
          Perceba que a <code>div</code> azul tem o dobro do tamanho da fonte da <code>div</code>
          vermelha, pois o <code>em</code> é relativo ao tamanho da fonte do elemento pai, já a
          <code>div</code> amarela tem o dobro do tamanho da fonte da <code>div</code> vermelha,
          pois o <code>rem</code> é relativo ao tamanho da fonte do elemento raiz que por padrão é 16px.
        </p>
      </div>
    </div>

    <div id="textAdjust">
      <h2>Ajustes de Texto</h2>
      <p>
        Temos algumas modificações que podemos fazer no texto, como alinhamento, espaçamento,
        decoração, transformação e sombra.
      </p>
      <div id="text-decoration">
        <h3>Text-decoration</h3>
        <p>Usando a propriedade <code>text-decoration</code> temos os seguintes resultados pra cada valor
          <code>text-decoration: valor</code>
        </p>
        <p style="text-decoration: line-through;">Usando o valor <code>line-through</code> temos o
          texto riscado
        </p>
        <p style="text-decoration: overline;">Usando o valor <code>overline</code> temos o texto com
          sobrelinha
        </p>
        <p style="text-decoration: underline;">Usando o valor <code>underline</code> temos o texto
          sublinhado
        </p>
      </div>

      <div id="text-transfomr">
        <h3>Text Transform</h3>
        <p>
          Usando a propriedade <code>text-transform: valor</code> podemos modificar o texto de um
          elemento, os valores possíveis são <code>uppercase</code>, <code>lowercase</code> e
          <code>capitalize</code>.
        </p>
        <p style="text-transform: uppercase;">Texto em maiúsculo (lowercase)</p>
        <p style="text-transform: lowercase;">TEXTO EM MINÚSCULO (uppercase)</p>
        <p style="text-transform: capitalize;">texto com a primeira letra de cada palavra em maiúsculo (capitalize)</p>
      </div>

      <div id="alinhamento">
        <h3>Alinhamento de texto</h3>
        <p>
          Podemos alinhar o texto de um elemento de 4 formas, usando a propriedade
          <code>text-align: valor</code> onde o valor pode ser <code>left</code>, <code>right</code>,
          <code>center</code> e <code>justify</code>.
        </p>
        <h4>Texto alinhado a esquerda</h4>
        <p style="text-align: left; width: 300px;">Lorem ipsum dolor sit amet consectetur, adipisicing
          elit. Autem, aliquam suscipit neque aperiam repudiandae odio reiciendis cum quam impedit,
          accusamus vitae itaque officia non totam. Cupiditate sunt voluptatem nemo possimus!
        </p>

        <h4>Texto alinhado a direita</h4>
        <p style="text-align: right; width: 300px;">Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Autem, aliquam suscipit neque aperiam repudiandae odio reiciendis
          cum quam impedit, accusamus vitae itaque officia non totam. Cupiditate sunt voluptatem
          nemo possimus!
        </p>

        <h4>Texto centralizado</h4>
        <p style="text-align: center; width: 300px;">Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Autem, aliquam suscipit neque aperiam repudiandae odio reiciendis cum
          quam impedit, accusamus vitae itaque officia non totam. Cupiditate sunt voluptatem nemo
          possimus!
        </p>
        <h4>Texto Justificado</h4>
        <p style="text-align: justify; width: 300px;">Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Autem, aliquam suscipit neque aperiam repudiandae odio reiciendis cum
          quam impedit, accusamus vitae itaque officia non totam. Cupiditate sunt voluptatem nemo
          possimus!
        </p>
      </div>
      <div id="styling">
        <h3>Embelezamento</h3>
        <h4>letter-spacing</h4>
        <p>
          usando a propriedade <code>letter-spacing: valor</code> podemos aumentar ou diminuir o
          espaço entre as letras
        </p>
        <p style="letter-spacing: -1px;">Texto com espaçamento reduzido entre as letras em -1px</p>
        <p style="letter-spacing: 2px;">Texto com espaçamento aumentado entre as letras em 2px</p>

        <h4>word-spacing</h4>
        <p>
          Usando a propriedade <code>word-spacing: valor</code> podemos aumentar ou diminuir o espaço
          entre as palavras
        </p>
        <p style="word-spacing: -4px;">Texto com espaçamento reduzido entre as palavras em -4px</p>
        <p style="word-spacing: 4px;">Texto com espaçamento aumentado entre as palavras em 4px</p>

        <h4>line-height</h4>
        <p>
          Usando a propriedade <code>line-height: 2</code> podemos aumentar espaço entre as linhas
          em dobro, ou o quanto desejar dependendo do valor passado.
        </p>
        <p style="line-height: 2; width: 400px;">Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Consequuntur, eum magni nobis voluptatem sequi iure impedit maiores voluptatum
          distinctio quae molestiae in, cum labore illum voluptate deleniti accusamus! Temporibus,
          quas!
        </p>
      </div>

      <div id="indentation">
        <h4>text-indent</h4>
        <p>
          Usando a propriedade <code>text-indent: 50px</code> aumentamos o espaço
          da primeira linha de um parágrafo em 50px.
        </p>
        <p style="text-indent: 50px; width: 400px;">Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Consequuntur, eum magni nobis voluptatem sequi iure impedit maiores voluptatum
          distinctio quae molestiae in, cum labore illum voluptate deleniti accusamus! Temporibus, quas!
        </p>
      </div>

      <div id="text-shadow">
        <h4>Text-Shadow</h4>
        <p>
          Usando a propriedade <code>text-shadow: 3px 3px 2px gray</code> podemos adicionar uma sombra
          ao texto, onde o primeiro valor é a distancia horizontal, o segundo é a distancia vertical, o
          terceiro é o blur e o quarto é a cor da sombra.
        </p>
        <p style="text-shadow: 3px 3px 2px gray; font-size: 2em;">Texto com sombra</p>
      </div>
    </div>

    <div id="fontAdjust">
      <h2>Ajuste de fonte</h2>

      <div id="font-family">
        <h3>Font Family</h3>
        <p>
          Podemos modificar a fonte de um elemento usando a propriedade <code>font-family: fonte</code>,
          podemos passar mais de uma fonte, caso a primeira não seja encontrada, a segunda será usada.
        </p>

        <p style="font-family: 'Times New Roman', Times, serif;">
          Texto com fonte com serifa (<code>font-family: 'Times New Roman', Times, serif</code>)</p>
        <p style="font-family: Arial, sans-serif;">
          Texto com fonte sem serifa (<code>font-family: Arial, sans-serif</code>)
        </p>
        <p style="font-family: 'Courier New', Courier, monospace;">
          Texto com fonte monospace (<code>font-family: 'Courier New', Courier, monospace;</code>)
        </p>
      </div>

      <div id="font-style">
        <h3>Font Style</h3>
        <p>
          Usando a propriedade <code>font-style: italic</code> podemos modificar o estilo da fonte,
          para italico
        </p>
        <p style="font-style: italic;">Texto em itálico</p>
      </div>

      <div id="font-weight">
        <h3>Font Weight</h3>
        <p>
          Usando a propriedade <code>font-weight: valor</code> podemos modificar o peso da fonte,
          para negrito podemos usar o valor <code>bold</code> ou também podemos passar valores de
          100 a 900, sendo 100 o mais fino e 900
          o mais grosso.
        </p>
        <p style="font-weight: bold;">Texto em negrito usando <code>font-weight: bold</code></p>
      </div>
    </div>

    <div id="border">
      <h2>Bordas</h2>
      <div id="borderDefault">
        <p>
          Podemos adicionar bordas a um elemento usando a propriedade <code>border: valor</code>, onde
          o valor pode ser <code>largura</code>, <code>estilo</code> e <code>cor</code>.
        </p>
        <div style="border: 2px solid red; display: inline-block; padding: 5px;">
          <p>esta borda foi adicionada usando <code>border: 2px solid red</code></p>
        </div>
        <div style="border: 2px dashed red; display: inline-block; padding: 5px;">
          <p>esta borda foi adicionada usando <code>border: 2px dashed red</code></p>
        </div>

        <div style="border: 2px dotted red; display: inline-block; padding: 5px;">
          <p>esta borda foi adicionada usando <code>border: 2px dotted red</code></p>
        </div>
      </div>

      <div id="borderRadius">
        <h3>Border Radius</h3>
        <p>
          Podemos arredondar as bordas de um elemento usando a propriedade <code>border-radius: valor</code>,
          onde o valor pode ser um número em <code>px</code> ou em <code>%</code>.
        </p>
        <div style="border: 2px solid red; border-radius: 10px; display: inline-block; padding: 5px;">
          <p>esta borda foi arredondada usando <code>border-radius: 10px</code></p>
        </div>

        <p>Podemos também criar uma elipse ou círculo com essa propriedade</p>

        <div id="resultBorderRadius" style="display: flex; width: 500px; text-align: center;">

          <div id="circle" style="display: flex; align-items: center; flex-direction: column;">
            <p>
              circulo com <code>border: 2px solid red; border-radius: 50%; width: 100px; height: 100px;</code>
            </p>
            <div style="border: 2px solid red; border-radius: 50%; width: 100px; height: 100px;"></div>
          </div>

          <div id="elipse" style="display: flex; align-items: center; flex-direction: column;">
            <p>
              elipse com <code>border: 2px solid red; border-radius: 50%; width: 250px; height: 100px;</code>
            </p>
            <div style="border: 2px solid red; border-radius: 50%; width: 250px; height: 100px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="marginPadding">
      <h2>Margin e Padding</h2>
      <div id="margin">
        <h3>Margin</h3>
        <p>
          A propriedade <code>margin</code> é usada para criar espaço ao redor dos elementos, fora das
          bordas. Podemos definir margens para os quatro lados de um elemento: superior, inferior,
          esquerdo e direito.
        </p>
        <p>
          Usando <code>margin: valor</code> podemos definir a margem de todos os lados de uma vez. Por
          exemplo, <code>margin: 10px</code> define uma margem de 10px em todos os lados.
        </p>
        <div style="margin: 10px; border: 2px solid black; display: inline-block;">
          <p>Elemento 1</p>
        </div>
        <div style="margin: 10px; border: 2px solid black; display: inline-block;">
          <p>Estes elemento tem uma margem de 10px em todos os lados.</p>
        </div>
        <div style="margin: 10px; border: 2px solid black; display: inline-block;">
          <p>elemento 3</p>
        </div>
        <p>
          Podemos também definir margens específicas para cada lado usando as propriedades
          <code>margin-top</code>, <code>margin-right</code>, <code>margin-bottom</code> e
          <code>margin-left</code> ou apenas apenas passando cada lado na propriedade
          <code>margin</code>. começando do topo e seguindo no sentido horário.
          <code>margin: 10px 20px 30px 40px</code>
        </p>
      </div>

      <div id="padding">
        <h3>Padding</h3>
        <p>
          A propriedade <code>padding</code> é usada para criar espaço ao redor do conteúdo dentro
          de um elemento, dentro das bordas. Assim como a margem, podemos definir preenchimentos
          para os quatro lados de um elemento: superior, inferior, esquerdo e direito.
        </p>
        <p>
          Usando <code>padding: valor</code> podemos definir o preenchimento de todos os lados
          de uma vez. Por exemplo, <code>padding: 10px</code> define um preenchimento de 10px
          em todos os lados.
        </p>
        <div style="padding: 20px; border: 2px solid black; display: inline-block;">
          <p>Este elemento tem um preenchimento de 20px em todos os lados.</p>
        </div>
        <p>
          Assim como <code>margin</code> podemos também definir <code>padding</code> específicos
          para cada lado usando as propriedades <code>padding-top</code>,
          <code>padding-right</code>, <code>padding-bottom</code> e <code>padding-left</code>
          ou apenas apenas passando cada lado na propriedade <code>padding</code>. começando
          do topo e seguindo no sentido horário. <code>padding: 10px 20px 30px 40px</code>
        </p>
      </div>
    </div>

    <div id="box-sizing">
      <h2>box sizing</h2>
      <p>
        A propriedade <code>box-sizing</code> é usada para alterar o modelo de caixa padrão do CSS.
        O modelo de caixa padrão é o modelo de caixa de conteúdo, onde a largura e a altura de um
        elemento definem o tamanho do conteúdo da caixa. A propriedade <code>box-sizing</code> pode
        ter os seguintes valores:
      </p>
      <ul>
        <li><code>content-box</code> - O tamanho da caixa é a largura e a altura do conteúdo. Isso é
          o padrão.</li>
        <li><code>border-box</code> - O tamanho da caixa é a largura e a altura do conteúdo + padding
          + borda.</li>
      </ul>
      <p>
        Usando <code>box-sizing: border-box</code> podemos fazer com que a largura e a altura de um
        elemento incluam o preenchimento e a borda, em vez de apenas o conteúdo.
      </p>
      <div style="width: 300px; padding: 20px; border: 2px solid black; margin-bottom: 2px;">
        <p>
          Este elemento tem uma largura de 300px, um preenchimento de 20px e uma borda de 2px.
          Como por padrão está usando o <code>content-box</code> então totaliza 344px de largura.
        </p>
      </div>
      <div style="width: 300px; padding: 20px; border: 2px solid black; box-sizing: border-box;">
        <p>
          Este elemento tem uma largura de 300px, um preenchimento de 20px e uma borda de 2px.
          como está utilizando o <code>border-box</code> então totaliza o conteúdo é ajustado para
          que o total seja 300px de largura e 300px de altura.
        </p>
      </div>
    </div>

    <div id="overflow">
      <h2>Overflow</h2>
      <p>
        A propriedade <code>overflow</code> é usada para controlar o que acontece se o conteúdo de
        um elemento for maior do que a caixa que o contém. Ela pode ter os seguintes valores:
      </p>
      <ul>
        <li><code>visible</code> - O conteúdo é exibido fora da caixa.</li>
        <li><code>hidden</code> - O conteúdo é cortado e não é exibido fora da caixa.</li>
        <li><code>scroll</code> - O conteúdo é cortado, mas um scroll é adicionado para ver o resto
          do conteúdo.</li>
        <li><code>auto</code> - Caso o conteúdo for maior que a caixa, um scroll é adicionado para
          ver o resto do conteúdo.</li>
      </ul>
      <p>
        Usando <code>overflow: hidden</code> podemos fazer com que o conteúdo que ultrapassa a caixa
        seja cortada e não seja exibida fora da caixa.
      </p>
      <div style="width: 200px; height: 100px; overflow: hidden; border: 2px solid black;">
        <p>
          Este elemento tem uma largura de 200px e uma altura de 100px. O conteúdo que ultrapassa
          a caixa é cortado, mas usando o <code>overflow: auto</code>, um scroll é adicionado para
          ver o resto do conteúdo e caso o conteúdo não ultrapasse a caixa, o scroll não é exibido.
        </p>
      </div>
      <p>
        Usando <code>overflow: auto</code> podemos fazer com que o conteúdo que ultrapassa a caixa
        seja cortado e um scroll seja adicionado para ver o resto do conteúdo.
      </p>
      <div style="width: 200px; height: 100px; overflow: auto; border: 2px solid black;">
        <p>
          Este elemento tem uma largura de 200px e uma altura de 100px. O conteúdo que ultrapassa
          a caixa é cortado, mas usando o <code>overflow: auto</code>, um scroll é adicionado para
          ver o resto do conteúdo e caso o conteúdo não ultrapasse a caixa, o scroll não é exibido.
        </p>
      </div>
    </div>

    <div id="links">
      <h2>Links</h2>
      <p>
        Links são elementos que permitem que os usuários naveguem de uma página para outra e por isso
        são fundamentais para a web. Muitas vezes queremos personalizar a aparência dos links, dando
        a eles aparencias como a de botões por exemplo. Pra que coisas assim sejam feitas usaremos
        pseudo-classes do <code>css</code>, que são classes que não são definidas no <code>html</code>
        mas sim no <code>css</code> e são usadas para estilizar elementos em estados específicos.
      </p>
      <p>Este é meu link estilizado para parecer um botão:</p>

      <pre>
          <code>
            a {
              background-color: darkcyan;
              color: white;
              text-align: center;
              padding: 10px;
              width: 200px;
              border-radius: 20px;
            }
          </code>
        </pre>
      <a class="linkButtomExample" href="#nada">Olhe para mim</a>

      <p>
        Para modificar o estilo do link quando eu estiver passando o mouse por cima, usamos a
        pseudo-classe <code>hover</code>
      </p>
      <pre>
        <code>
          a:hover {
            background-color: darkgreen;
          }
        </code>
      </pre>
      <a class="linkButtomExample linkButtomExample2" href="#nada">Passe o mouse por cima</a>

      <p>
        Para modificar o estilo do link quando ele estiver ativo, usamos a pseudo-classe
        <code>active</code>
      </p>
      <pre>
        <code>
          a:active {
            background-color: darkred;
          }
        </code>
      </pre>
      <a class="linkButtomExample linkButtomExample2 linkButtomExample3" href="#nada">Clique em mim</a>

      <p>
        Caso eu queira modificar o estilo do link quando ele estiver visitado, usamos a pseudo-classe
        <code>visited</code>
      </p>

      <pre>
        <code>
          a:visited {
            background-color: darkblue;
          }
        </code>
      </pre>
      <a class="linkButtomExample linkButtomExample2 linkButtomExample3 linkButtomExample4" href="#nada">
        Clique em mim novamente
      </a>
    </div>

    <div id="listas">
      <h2>Listas</h2>
      <p>
        Listas são usadas para agrupar itens relacionados. Existem dois tipos principais de listas
        em HTML: listas ordenadas e listas não ordenadas.
      </p>

      <div id="unordered_list">
        <h3>Listas Não Ordenadas</h3>
        <p>
          Listas não ordenadas são usadas para agrupar itens sem uma ordem específica. Elas são
          criadas com a tag <code>&lt;ul&gt;</code> e cada item da lista é criado com a tag
          <code>&lt;li&gt;</code>.
        </p>
        <pre>
          <code>
            &lt;ul&gt;
              &lt;li&gt;Item 1&lt;/li&gt;
              &lt;li&gt;Item 2&lt;/li&gt;
              &lt;li&gt;Item 3&lt;/li&gt;
            &lt;/ul&gt;
          </code>
        </pre>
        <h4>Resultado:</h4>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>

      <div id="ordered_list">
        <h3>Listas Ordenadas</h3>
        <p>
          Listas ordenadas são usadas para agrupar itens em uma ordem específica. Elas são criadas
          com a tag <code>&lt;ol&gt;</code> e cada item da lista é criado com a tag
          <code>&lt;li&gt;</code>.
        </p>
        <pre>
          <code>
            &lt;ol&gt;
              &lt;li&gt;Item 1&lt;/li&gt;
              &lt;li&gt;Item 2&lt;/li&gt;
              &lt;li&gt;Item 3&lt;/li&gt;
            &lt;/ol&gt;
          </code>
        </pre>
        <h4>Resultado:</h4>
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ol>
      </div>

      <div id="list_styling">
        <h3>Estilizando Listas</h3>

        <p>
          Podemos modificar o estilo das listas usando CSS. Por exemplo, modificar os marcadores
          das listas não ordenadas ou os números das listas ordenadas.
        </p>

        <h4>Listas Não Ordenadas</h4>
        <div id="naoOrdenadaExemplo">
          <div style="display: flex; gap: 10px;">
            <div>
              <h4>list-style-type: circle</h4>
              <ul style="list-style-type: circle;">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
              </ul>
            </div>
            <div>
              <h4>list-style-type: square</h4>
              <ul style="list-style-type: square;">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
              </ul>
            </div>
          </div>
        </div>

        <h4>Listas Ordenadas</h4>
        <div id="naoOrdenadaExemplo" style="display: flex; gap: 10px;">
          <div>
            <h4>list-style-type: upper-roman</h4>
            <ol style="list-style-type: upper-roman;">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ol>
          </div>

          <div>
            <h4>list-style-type: lower-roman</h4>
            <ol style="list-style-type: lower-roman;">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ol>
          </div>

          <div>
            <h4>list-style-type: decimal-leading-zero</h4>
            <ol style="list-style-type: decimal-leading-zero;">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ol>
          </div>

          <div>
            <h4>list-style-type: lower-alpha</h4>
            <ol style="list-style-type: lower-alpha;">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ol>
          </div>

          <div>
            <h4>list-style-type: upper-alpha</h4>
            <ol style="list-style-type: upper-alpha">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ol>
          </div>
        </div>

        <p>Tambem podemos remover os marcadores de uma lista ordenada ou não ordenada usando a
          propriedade <code>list-style-type: none;</code>.</p>
        <pre>
          <code>
            ul {
              list-style-type: none;
            }
          </code>
        </pre>
        <h4>Resultado:</h4>
        <ul style="list-style-type: none;">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>

      <div id="custom_list_styling">
        <h3>Estilizando Listas com Imagens</h3>
        <p>
          Podemos usar imagens como marcadores de lista usando a propriedade
          <code>list-style-image</code> e passando o caminho da imagem. O problema é que essas
          imagens não são responsivas, então é nescessário usar uma imagem do tamnho da fonte,
          no caso estamos usando uma fonte de 16px então precisamos de uma imagem de 16x16px.
        </p>
        <pre>
          <code>
            ul {
              list-style-image: url('caminho/para/imagem.png');
            }
          </code>
        </pre>
        <h4>Resultado:</h4>
        <ul style="list-style-image: url('./images/logo-16.png');">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>

      <div id="listaBemEstilizada">
        <h3>Lista estilizada</h3>
        <p>
          Podemos estilizar as listas de várias maneiras, como alterar a cor, o tamanho e o
          estilo da fonte, adicionar margens e preenchimentos, adicionar bordas e muito mais.
        </p>
        <pre>
          <code>
            ul {
              list-style: none;
              padding: 5px;
              max-width: 400px;
              box-shadow: 4px 4px 10px #717e88;
              border-radius: 15px;
            }
            
            ul li {
              padding: 10px 20px;
              margin: 5px;
              font-size: 18px;
              color: black;
              background-color: #4fb7fc;
              border: 1px solid #007ff7;
              border-radius: 25px;
            }
            
            ul li:hover {
              color: white;
              background-color: #007ff7;
              margin: 0px;
              cursor: pointer;
            }
          </code>
        </pre>

        <h4>Resultado:</h4>
        <ul class="listaBemEstilizada">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>