<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo 5 CSS Básico</title>

  <style>
    #css_interno {
      background-color: blue;
      color: white;
    }
  </style>

  <link rel="stylesheet" href="./modulo_5.css">
</head>

<body>
  <div id="header">
    <a href="/">Início</a>
    <h1>Módulo 5 CSS Básico</h1>
  </div>
  <div id="content">
    <div id="indice">
      <h3>Índice</h3>
      <ul>
        <li><a href="#inline">CSS Inline</a></li>
        <li><a href="#interno">CSS Interno</a></li>
        <li><a href="#externo">CSS Externo</a></li>
      </ul>
    </div>
    <p>
      Para acrescentar estilo a nossa pagina usamos o CSS, basicamente temos 3 formas de usa-lo:
    </p>
    <div id="inline">
      <h2>CSS Inline</h2>
      <p style="background-color: red; color: white;">
        Podemos adicionar um estilo na própria criação do elemento, pra isso usamos o parâmetro
        <code>style="codigo css"</code>
      </p>
      <pre>
        <code>
          &lt;p style="background-color: red; color: white;"&gt;texto do paragrafo&lt;/p&gt;
        </code>
      </pre>
      <ul>
        <li>Para modificarmos a cor do fundo usamos: <code>background-color: cor_desejada</code></li>
        <li>E para modificarmos a cor da letra usamos: <code>color: cor_desejada</code></li>
        <li>Quando temos mais de uma modificação, separamos elas por <code>;</code> <br></li>
        <li>Com css podemos modificar muito mais do que apenas cores...</li>
      </ul>
    </div>
    <div id="interno">
      <h2>CSS Interno</h2>
      <p id="css_interno">
        Usar css direto no elemento nem sempre é interessante, uma vez que se tivermos diversos elementos que queremos
        que o mesmo estilo seja aplicado, teriamos que repetir o mesmo <code>style</code> na criação de todos, uma forma
        de contornar isso é usando o css interno, pra que isso seja feito, usamos a tag
        <code>&lt;style&gt;codigo css&gt;/style&gt;</code> dentro da tag <code>head</code> de nossa página.
      </p>
      <pre>
        <code>
          &lt;head&gt;
            &lt;style&gt;
              p{
                background-color: blue;
                color: white;
              }
            &lt;/style&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;p&gt;texto do paragrafo 1&lt;/p&gt;
            &lt;p&gt;texto do paragrafo 2&lt;/p&gt;
            &lt;p&gt;texto do paragrafo 3&lt;/p&gt;
          &lt;/body&gt;
        </code>
      </pre>
      <p>Dessa forma, todos os paragrafos dessa página teriam o mesmo estilo. Isso também poderia ser feito com outras
        tags html como <code>&lt;h1&gt;</code> ou <code>&lt;div&gt;</code> por exemplo.</p>
    </div>
    <div id="externo">
      <h2>CSS Externo</h2>
      <p id="css_externo">
        Para usarmos o css externo precisamos criar um arquivo <code>.css</code> que terá todo o codigo de estilo,
        depois precisamos usar a tag <code>&lt;link rel="stylesheet" href="./endereco_do_arquivo.css"&gt;</code> dentro
        do <code>&lt;head&gt;</code>
      </p>

      <h3>Arquivo style.css</h3>
      <pre>
        <code>
          p{
            background-color: yellow;
          }
        </code>
      </pre>
      <h3>Arquivo pagina_1.html</h3>
      <pre>
        <code>
          &lt;html&gt;
            &lt;head&gt;
              &lt;link rel="stylesheet" href="./style.css"&gt;
            &lt;/head&gt;
            &lt;body&gt;
              &lt;p&gt;texto do paragrafo da página 1&lt;/p&gt;
            &lt;/body&gt;
          &lt;/html&gt;
        </code>
      </pre>
      <h3>Arquivo pagina_2.html</h3>
      <pre>
        &lt;html&gt;
            &lt;head&gt;
              &lt;link rel="stylesheet" href="./style.css"&gt;
            &lt;/head&gt;
            &lt;body&gt;
              &lt;p&gt;texto do paragrafo da página 2&lt;/p&gt;
            &lt;/body&gt;
          &lt;/html&gt;
      </pre>
      <p>
        Dessa forma, podemos usar o mesmo arquivo em quantas paginas html quisermos passando apenas o link do arquivo
        <code>css</code>.
      </p>
    </div>
  </div>
</body>

</html>