<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo Matheus R.</title>
</head>

<body>
  <div id="header">
    <H1>Módulo 4 - Projeto: Currículo [HTML Básico]</H1>
  </div>

  <hr>

  <div id="presentation">
    <h1>Matheus Rodrigues</h1>
    <p>
      <strong>Cidade:</strong> Campo Grande - MS <br>
      <strong>Telefone:</strong> <a href="tel:+5567992990100">+55 67 9 9299-0100</a> <br>
      <strong>Email:</strong> <a href="mailto:contato_matheus@gmail.com">contato_matheus@gmail.com</a>
    </p>
  </div>

  <hr>

  <div id="content">
    <div id="goal">
      <h2>Objetivo</h2>
      <p>
        Conquistar minha primeira vaga de emprego
      </p>
    </div>
    
    <br>

    <div id="formation">
      <h2>Formação</h2>
      <p>
        <strong>Cursando Engenharia de Software</strong><br>
        Universidade Federal do Mato Grosso do Sul (UFMS)
      </p>
      <p>
        <strong>Em progresso no curso de Desenvolvimento Web</strong><br>
        ProgramadorBR - Igor Oliveira
      </p>
      <p>
        <strong>Ensino Médio Completo</strong><br>
        Escola Estadual Maria Rita de Cássia Pontes Teixeira
      </p>
    </div>

    <div id="experience">
      <h2>Experiência</h2>
      <p>
        <img src="./Images/facom-logo.png" alt="Logo da Facom UFMS" width="50px">
        <strong>Desenvolvedor Full Stack (voltado mais para o Front End)</strong>
        <a href="https://nes.facom.ufms.br/projeto/online-evidence-grabber" target="_blank">Núcleo de Práticas em
          Engenharia de Software</a>
        <br>
        Desenvolvimento full stack no projeto "online evidence grabber" proposto pela Polícia Federal
      </p>
      <p>
        <img src="./Images/compass.uol-logo.png" alt="Logo da Compass.Uol" width="50px">
        <strong>Estágiario na</strong> <a href="https://compass.uol/pt/home/">Compass.UOL</a><br>
        Estudo e aprofundamento em Java com Spring Boot, modelo ágil com Scrum, como se proteger dos perigos da Web,
        boas praticas de versionamento e serviços em nuvens com AWS
      </p>

      <div id="skill">
        <h2>Habilidades</h2>
        <ul>
          <li>Python</li>
          <li>Java</li>
          <li>JavaScript</li>
          <li>MySQL</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>