* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif, monospace;
  background-color: #f5f5f5;
}

article, section, div {
  scroll-margin-top: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.8em 0;
  color: #0808d8;
}

p{
  margin: 0.8em 0;
  line-height: 1.5;
}

ul, ol {
  margin: 1em 0;
  padding-left: 40px;
}

li {
  margin: 0.5em 0;
  line-height: 1.5;
}

pre {
  margin: 1em 0px;
}

#top-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
  background-color: #080946;
  text-align: center;
  color: #fff;
}

#top-bar .logo {
  height: 80%;
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translate(0, -50%);
}

#top-bar h1 {
  display: inline;
  color: #fff;
}

#nav {
  width: 23%;
  max-height: 70%;
  overflow: auto; 
  position: fixed;
  top: 65px;
  float: left;
  background-color: #fff;
}

#content {
  width: 60%;
  margin: auto;
}

.card {
  width: 80%;
  padding: 15px;
  margin: 20px auto;
  border-radius: 5px;
  text-align: justify;
  background-color: #fff;
}

.card:hover {
  box-shadow: 5px 5px 10px #00000050;
}

code {
  font-family: monospace;
  background-color: #e5e5e5;
  padding: 2px 4px;
  border-radius: 5px;
}

pre {
  background-color: #2e3440;
  padding: 10px 10px 10px 0;
  border-radius: 8px;
  overflow-x: auto;
}

pre code {
  background-color: transparent;
  color: #fff;
}

.result {
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 5px;
}

#footer {
  padding: 6px 0 2px 0;
  background-color: #080946;
  text-align: center;
}

#footer img {
  width: 40px;
  background-color: white; 
  border-radius: 50%;
  margin: 0 5px;
}

#footer a {
  text-decoration: none;
}

.btn-example {
    margin: 10px;
    border: none;
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-example:hover {
  background-color: lightgreen;
}