<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo 13 - JS Intermediário</title>

  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header id="top-bar">
    <a href="/">Voltar</a>
    <h1>Módulo 13 - JS Intermediário</h1>
    <ul>
      <li>Geral</li>
      <li>Conteúdos</li>
      <li>Projetos</li>
    </ul>
  </header>

  <nav id="index">
    <ul>
      <li>
      </li>
    </ul>
  </nav>

  <main id="content">
    <article id="" class="card">
      <h2>inicio</h2>
    </article>
  </main>

  <footer id="footer">
    <a href="https://github.com/MatheusRCG" target="_blank">
      <img src="/src/Images/github-logo.png" alt="logo github">
    </a>
    <a href="https://www.linkedin.com/in/matheusrcg/" target="_blank">
      <img src="/src/Images/linkedin-logo.png" alt="linkedin logo">
    </a>
  </footer>
</body>

</html>