/* -- Usado nos exemplos -- */
.quadrado {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  margin: 2px;
}

.example-first-line::first-line {
  font-weight: bold;
}

.example-first-letter::first-letter {
  font-size: 2em;
  color: green;
}

.example-before, .example-after {
  list-style: none;
}

.example-after li::after {
  content: "'-'";
  color: green;
  font-size: 1.2em;
}

.example-before li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(./images/google-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.example-selection::selection {
  background-color: green;
  color: white;
}

/* -- Pseudo-Classes -- */
.example-first-last-child p:first-child {
  color: blue;
}

.example-first-last-child p:last-child {
  color: red;
}

.example-first-last-of-type h2:first-of-type {
  color: green;
}

.example-first-last-of-type h2:last-of-type {
  color: purple;
}

.example-nth-child p:nth-child(even) {
  background-color: green;
}

.example-nth-child p:nth-child(odd) {
  background-color: purple;
}

.example-nth-child p:nth-child(2) {
  color: white;
}

.example-nth-child p:nth-child(3n) {
  color: orange;
  font-weight: bold;
}

.example-nth-of-type p:nth-of-type(2) {
  color: teal;
}

.example-focus input:focus {
  color: white;
  background-color: blue;
}

/* -- Função Calc -- */

.example-calc-width div {
  width: calc(100% - 100px);
  margin: auto;
  background-color: blue;
  color: white;
  text-align: center;
}

/* -- Transformações -- */
.example-rotate {
  transform: rotate(45deg);
}

.example-scale {
  transform: scale(0.75);
}

.example-translate {
  transform: translate(50px, 10px);
}

.example-skew {
  transform: skew(20deg, 10deg);
}

/* -- FlexBox -- */
.example-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-flex-container .item {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
}

.example-flex-direction {
  display: flex;
  flex-direction: row;
}

.example-flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.example-justify-content {
  display: flex;
  justify-content: space-evenly;
}

.altura-maior {
  height: 200px;
}

.example-align-items {
  height: 100%;
  display: flex;
  align-items: center;
}