.example-first-line::first-line {
  font-weight: bold;
}

.example-first-letter::first-letter {
  font-size: 2em;
  color: green;
}

.example-before, .example-after {
  list-style: none;
}

.example-after li::after {
  content: "'-'";
  color: green;
  font-size: 1.2em;
}

.example-before li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(./images/google-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.example-selection::selection {
  background-color: green;
  color: white;
}

/* -- Pseudo-Classes -- */
.example-first-last-child p:first-child {
  color: blue;
}

.example-first-last-child p:last-child {
  color: red;
}

.example-first-last-of-type h2:first-of-type {
  color: green;
}

.example-first-last-of-type h2:last-of-type {
  color: purple;
}

.example-nth-child p:nth-child(even) {
  background-color: green;
}

.example-nth-child p:nth-child(odd) {
  background-color: purple;
}

.example-nth-child p:nth-child(2) {
  color: white;
}

.example-nth-child p:nth-child(3n) {
  color: orange;
  font-weight: bold;
}

.example-nth-of-type p:nth-of-type(2) {
  color: teal;
}

.example-focus input:focus {
  color: white;
  background-color: blue;
}

/* -- Função Calc -- */

.example-calc-width div {
  width: calc(100% - 100px);
  margin: auto;
  background-color: blue;
  color: white;
  text-align: center;
}