<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo 11 e 12 - JavaScript Básico</title>

  <link rel="stylesheet" href="/style.css">
  <script>
    // alert("Hello World!")  // descomentar quando finalizar a página
    console.log("Hello World!")
  </script>
</head>

<body>
  <header id="top-bar">
    <a href="/">Voltar</a>
    <h1>Módulo 11 e 12 - JavaScript Básico</h1>
    <ul>
      <li>Geral</li>
      <li>Conteúdos</li>
      <li>Projetos</li>
    </ul>
  </header>

  <nav id="index">
    <ul>
      <li>

      </li>
    </ul>
  </nav>

  <main id="content">
    <article id="displays" class="card">
      <h2>Hello World! JavaScript</h2>

      <p>
        O JavaScript é usado em sites para adicionar interatividade e dinamismo. Ele permite
        criar funcionalidades como validação de formulários, animações, manipulação de elementos
        HTML e comunicação assíncrona com servidores, tornando a experiência do usuário mais
        rica e envolvente.
      </p>

      <section id="alert">
        <h3>alert</h3>
        <p>
          O código abaixo exibe um alerta com a mensagem "Hello World!" ao carregar a página.
        </p>

        <pre>
          <code>
            &lt;html&gt;
              &lt;head&gt;
                &lt;script&gt;
                 alert('Hello World!');
                &lt;/script&gt;
              &lt;/head&gt;
            &lt;/html&gt;
          </code>
        </pre>

        <p>
          Podemos também criar um arquivo JavaScript separado e incluí-lo no HTML usando a tag
          <code>&lt;script&gt;</code>. Isso é útil para manter o código organizado e reutilizável.
        </p>

        <h4>index.html</h4>
        <pre>
          <code>
            &lt;html&gt;
              &lt;head&gt;
                &lt;script src="script.js"&gt;&lt;/script&gt;
              &lt;/head&gt;
            &lt;/html&gt;
          </code>
        </pre>
        <h4>script.js</h4>
        <pre>
          <code>
            alert('Hello World!');
          </code>
        </pre>
      </section>
      <section>
        <h3>console.log</h3>
        <p>
          O método <code>console.log()</code> é usado para exibir mensagens no console do navegador.
          Ele é útil para depurar e testar o código JavaScript.
        </p>

        <pre>
          <code>
            &lt;html&gt;
              &lt;head&gt;
                &lt;script&gt;
                  console.log('Hello World!');
                &lt;/script&gt;
              &lt;/head&gt;
            &lt;/html&gt;
          </code>
        </pre>

        <p>
          Para abrir o console do navegador, pressione <code>F12</code> ou clique com o
          botão direito do mouse na página e selecione "Inspecionar" ou "Inspeção".
        </p>
      </section>

      <section id="comentarios">
        <h3>comentários</h3>
        <p>
          Os comentários são usados para documentar o código e torná-lo mais legível. Eles são
          ignorados pelo interpretador JavaScript e não afetam o funcionamento do programa.
        </p>
        <h4>Comentando uma linha</h4>
        <pre>
          <code>
            // Este é um comentário de uma linha
          </code>
        </pre>
        <h4>Comentando várias linhas</h4>
        <pre>
          <code>
            /*
            Este é um comentário
            de várias linhas
            */
          </code>
        </pre>
      </section>
    </article>

    <article id="variaveis" class="card">
      <h2>algoritmo</h2>
      <p>
        Um algoritmo é um conjunto de instruções passo a passo para resolver um problema ou
        realizar uma tarefa. Ele é a base da programação e é usado para criar programas de
        computador que automatizam processos e tomam decisões com base em dados.
      </p>

      <h4>algoritmo de Receita de Miojo</h4>
      <ol>
        <li>Ferva 500ml de água em uma panela.</li>
        <li>Adicione o miojo na água fervente.</li>
        <li>Cozinhe por 3 minutos.</li>
        <li>Escorra a água.</li>
        <li>Adicione o tempero do miojo e misture bem.</li>
        <li>Sirva e aproveite.</li>
      </ol>

      <h4>algoritmo Atravessar a Rua</h4>
      <ol>
        <li>Pare na calçada e olhe para os dois lados.</li>
        <li>Verifique se não há veículos se aproximando.</li>
        <li>Se houver faixa de pedestres, utilize-a.</li>
        <li>Comece a atravessar a rua com cuidado.</li>
        <li>Continue olhando para os dois lados enquanto atravessa.</li>
        <li>Chegue ao outro lado da rua em segurança.</li>
      </ol>

      <h4>algoritmo matemático</h4>
      <ol>
        <li>Comece com um número inicial.</li>
        <li>Some 5 ao número inicial.</li>
        <li>Multiplique o resultado por 2.</li>
        <li>Subtraia 4 do resultado.</li>
        <li>Divida o resultado por 2.</li>
        <li>Exiba o resultado final.</li>
      </ol>
    </article>

    <article id="variaveis" class="card">
      <h2>Variaveis em JavaScript</h2>

      <p>
        As variáveis são usadas para armazenar valores e dados em JavaScript.
        Elas são declaradas usando a palavra-chave <code>var</code>, <code>let</code> ou
        <code>const</code>, seguida pelo nome da variável e, opcionalmente, um valor inicial.
      </p>

      <p>
        Existem diferentes convenções para nomear variáveis em JavaScript:
      </p>
      <ul>
        <li>
          camelCase: A primeira letra é minúscula e cada nova palavra começa com uma letra maiúscula.
          Exemplo: <code>minhaVariavel</code>.
        </li>
        <li>
          snake_case: Todas as letras são minúsculas e as palavras são separadas por underscores.
          Exemplo: <code>minha_variavel</code>.
        </li>
        <li>
          PascalCase: Similar ao camelCase, mas a primeira letra também é maiúscula.
          Exemplo: <code>MinhaVariavel</code>.
        </li>
        <li>
          kebab-case: Todas as letras são minúsculas e as palavras são separadas por hifens.
          Exemplo: <code>minha-variavel</code>.
        </li>
      </ul>

      <p>
        Além disso, é importante seguir algumas regras ao nomear variáveis:
      </p>
      <ul>
        <li>
          Os nomes devem começar com uma letra, underscore (_) ou cifrão ($).
        </li>
        <li>
          Os nomes não podem começar com números.
        </li>
        <li>
          Os nomes podem conter letras, números, underscores e cifrões.
        </li>
        <li>
          Os nomes são case-sensitive, ou seja, <code>minhaVariavel</code> e
          <code>minhavarivel</code> são variáveis diferentes.
        </li>
      </ul>

      <h4>Declarando uma variável e reatribuindo um valor</h4>
      <pre>
        <code>
          var nome = "João";
          console.log(nome); // Saída: João

          nome = "Maria";
          console.log(nome); // Saída: Maria
        </code>
      </pre>


      <h4>Copiando o valor de uma variável para outra</h4>
      <pre>
        <code>
          var nome2 = "Pedro";
          var nome3 = nome2;
          console.log(nome3); // Saída: Pedro
        </code>
      </pre>

      <h4>Declarando variáveis sem valor inicial e atribuindo valor posteriormente</h4>
      <pre>
        <code>
          var pais;
          console.log(pais); // Saída: undefined

          pais = "Brasil";
          console.log(pais); // Saída: Brasil
        </code>
      </pre>

      <section id="tipodedados">
        <h3>Tipo de dados</h3>
        <p>
          JavaScript é uma linguagem de programação dinamicamente tipada, o que significa que as
          variáveis não têm um tipo de dados fixo. O tipo de dados de uma variável é determinado
          automaticamente com base no valor atribuído a ela.
        </p>
        <p>
          Existem vários tipos de dados em JavaScript, incluindo:
        </p>
        <ul>
          <li>String: Sequência de caracteres, como "Hello World!"</li>
          <li>Number: Números inteiros ou decimais, como 42 ou 3.14</li>
          <li>Boolean: Valores verdadeiro ou falso, como true ou false</li>
          <li>Array: Coleção ordenada de valores, como [1, 2, 3]</li>
          <li>Object: Coleção de pares chave-valor, como {nome: "João", idade: 30}</li>
          <li>Undefined: Valor atribuído a variáveis não inicializadas</li>
          <li>Null: Valor nulo, indicando a ausência de valor</li>
        </ul>
        <pre>
          <code>
            var nome = "João"; // String
            var idade = 30; // Number
            var casado = false; // Boolean
            var numeros = [1, 2, 3]; // Array
            var pessoa = {nome: "João", idade: 30}; // Object
            var vazio = undefined; // Undefined
            var nulo = null; // Null
          </code>
        </pre>
      </section>
    </article>

    <article id="operacoes" class="card">
      <h2>Operações Aritméticas</h2>
      <p>
        JavaScript suporta várias operações aritméticas para realizar cálculos matemáticos.
        Os operadores aritméticos mais comuns são:
      </p>
      <ul>
        <li>Soma (+): Adiciona dois valores.</li>
        <li>Subtração (-): Subtrai um valor de outro.</li>
        <li>Multiplicação (*): Multiplica dois valores.</li>
        <li>Divisão (/): Divide um valor por outro.</li>
        <li>Módulo (%): Retorna o resto da divisão de um valor por outro.</li>
        <li>Incremento (++): Adiciona 1 a um valor.</li>
        <li>Decremento (--): Subtrai 1 de um valor.</li>
      </ul>
      <p>
        Exemplo de operações aritméticas em JavaScript:
      </p>
      <pre>
        <code>
          var x = 10;
          var y = 5;

          var soma = x + y;
          var subtracao = x - y;
          var multiplicacao = x * y;
          var divisao = x / y;
          var modulo = x % y;
          var incremento = x++;
          var preIncremento = ++x;
          var decremento = y--;
          var preDecremento = --y;

          console.log(soma); // Saída: 15
          console.log(subtracao); // Saída: 5
          console.log(multiplicacao); // Saída: 50
          console.log(divisao); // Saída: 2
          console.log(modulo); // Saída: 0
          console.log(incremento); // Saída: 10
          console.log(decremento); // Saída: 5
        </code>
      </pre>
      <section>
        <h3>Módulo</h3>
        <p>
          O operador módulo (%) retorna o resto da divisão de um número pelo outro. Ele é útil para
          verificar se um número é divisível por outro ou para obter o último dígito de um número.
        </p>
        <pre>
          <code>
            var x = 10;
            var y = 5;

            var modulo = x % y;
            console.log(modulo); // Saída: 0

            var modulo = y % x;
            console.log(modulo); // Saída: 5
          </code>
      </section>
      <section>
        <h3>Incremento e Decremento</h3>
        <p>
          Os operadores de incremento (++) e decremento (--) são usados para adicionar ou subtrair 1
          de uma variável, respectivamente. Eles são úteis para atualizar o valor de uma variável de
          forma rápida e concisa.
        </p>
        <pre>
          <code>
            var x = 5;

            var incremento = x++;
            console.log(incremento); // x=6 mas a saída: 5

            var preIncremento = ++x;
            console.log(preIncremento); // x=7 e saída: 7

            var y = 5;

            var decremento = y--;
            console.log(decremento); // x=4 mas a saída: 5

            var preDecremento = --y;
            console.log(preDecremento); // x=3 e saída: 3
          </code>
        </pre>
      </section>
      <p>
        A diferença entre colocar os operadores de incremento (++) ou decremento (--)
        antes ou depois da variável está no momento em que a operação é realizada.
        Quando o operador é colocado antes da variável (pré-incremento ou pré-decremento),
        o valor da variável é incrementado ou decrementado antes de ser utilizado na expressão.
        Por outro lado, quando o operador é colocado depois da variável (pós-incremento ou
        pós-decremento), o valor da variável é utilizado na expressão antes de ser incrementado
        ou decrementado.
      </p>
    </article>
  </main>

  <footer id="footer">
    <a href="https://github.com/MatheusRCG" target="_blank">
      <img src="/src/Images/github-logo.png" alt="logo github">
    </a>
    <a href="https://www.linkedin.com/in/matheusrcg/" target="_blank">
      <img src="/src/Images/linkedin-logo.png" alt="linkedin logo">
    </a>
  </footer>
</body>

</html>