<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo 6 - Projeto Página de Conteúdo</title>

  <link rel="stylesheet" href="./style.css">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
</head>

<body>
  <div id="top-bar">
    <h2>Qual Comprar?</h2>
  </div>

  <div id="container">
    <div id="header">
      <h1>
        Os ‘vilões’ da luz: veja o que mais
        gasta energia e como economizar
      </h1>
    </div>

    <div id="content">

    </div>
  </div>

  <div id="footer">

  </div>

</body>

</html>