body {
  font-family: "Open Sans", sans-serif, monospace;
  color: #555;
  margin: 0;
  font-size: 32px;
}

a {
  color: #fd8a24;
}

h1,
h2,
h3,
h4 {
  color: #111;
}

#top-bar {
  padding: 15px;
  border-bottom: 5px solid #fd8a24;
  background-color: #333;
  color: #fff;
  text-align: center;
}

#top-bar h2 {
  margin: 0;
  color: #fff;
}

#container {
  width: 80%;
  margin: 0 auto;
}

#header {
  border-bottom: 1px solid #333;
}

#header h1 {
  text-align: center;
}

#header h3{
  font-size: 0.5em;
  margin: 0;
}

#header h5 {
  margin-top: 0;
  font-size: 0.4em;
  font-weight: 300;
  border-top: 1px solid lightblue;
  width: 19em;
}

#header ul {
  display: flex;
  padding: 0px;
  list-style: none;
}

#header li {
  margin-right: 20px;
}

#content {

}


#footer {
  background-color: #333;
  height: 50px;
}
