@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --color-primary: #101c2c;
  --color-secondary: #05c3ff;
  --color-background: #f0f0f0;
  --color-shawdow: rgba(0, 0, 0, 0.45);
}

body {
  font-family: 'Righteous', cursive;
  margin: 0;
  padding: 0;
}

.card {
  width: 150px;
  height: 150px;
  position: relative;
  transition: transform 0.5s;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--color-shawdow);
  backface-visibility: hidden;
}

.card-front {
  background-color: var(--color-primary);
  transform: rotateY(180deg);
}

.card-back {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-size: 1.8rem;
}

.flip {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}