/* -- HOME PAGE -- */

main {
  margin-top: 60px;
}

.card {
  background-color: #fff;
  width: 80%;
  margin: 90px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #00000050;
}

.card h2 {
  text-align: center;
  font-size: 1.8rem;
}

.card p {
  text-align: justify;
  font-size: 1.2rem;
}

.card ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.card a {
  width: 250px;
  height: 150px;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
  background: linear-gradient(to right, #004aad, #5de0e6);
  color: #fff;
  text-shadow: 2px 2px 4px #00000050;
}

.card a:hover {
  transform: scale(1.1);
  background: linear-gradient(to top, #004aad, #5de0e6);
  box-shadow: 5px 5px 8px #00000050;
  text-shadow: 4px 4px 4px #00000050;
  transition: transform 0.4s ease, box-shadow 0.4s ease, text-shadow 0.4s ease;
}
