.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: rgb(0, 128, 0);
}

.blue {
  background-color: blue;
  color: white;
}

.rectangle-1x4 {
  width: 400px;
  height: 100px;
  margin: auto;
}

#background-default-result {
  background-image: url("./images/Ceramica.jpg");
}

#background-cover-result {
  background-image: url("./images/Fundo_abstrato.jpg");
  background-size: cover;
}

#background-contain-result {
  background-image: url("./images/Fundo_abstrato.jpg");
  background-size: contain;
}

#background-position-result {
  background-image: url("./images/BackgroundImage.png");
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

#background-fixed-example {
  background-image: url("./images/Fundo_abstrato.jpg");
  width: 400px;
  background-size: cover;
  background-attachment: fixed;
}

#to-right-background-gradient-result {
  background: linear-gradient(to right, red, yellow);
}

#to-right-initial-background-gradient-result {
  background: linear-gradient(to right, red, 20%, yellow);
}

#to-right-hard-background-gradient-result {
  background: linear-gradient(to right, red, yellow 20%);
}

#left-bottom-background-gradient-result {
  background: linear-gradient(to left bottom, red, yellow);
}

#more-colors-background-gradient-result {
  background: linear-gradient(to right, red, rgb(0, 200, 0), #ffff00);
}

#nothing-background-gradient-result {
  background: linear-gradient(red, yellow);
}

#div-red {
  background-color: red;
  width: 200px;
  height: 100px;
}

#div-blue {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.div-yellow {
  background-color: yellow;
  width: 50%;
  height: 50%;
}

#div-red-view-port {
  background-color: red;
  width: 20vw;
  height: 10vh;
}

#div-blue-view-port {
  background-color: blue;
  width: 10vw;
  height: 10vh;
}

#div-red-text {
  background-color: red;
  font-size: 20px;
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 10px 0;
}

#div-blue-text {
  background-color: blue;
  color: white;
  font-size: 2em;
  width: 90%;
  margin: 10px auto;
}

#div-yellow-text {
  background-color: yellow;
  font-size: 2rem;
  width: 90%;
  margin: auto;
}

.link-buttom-example {
  background-color: darkcyan;
  color: white;
  text-align: center;
  padding: 10px;
  width: 200px;
  text-decoration: none;
  border-radius: 20px;
}

.buttom-hover-example:hover {
  background-color: darkgreen;
}

.buttom-active-example:active {
  background-color: darkred;
}

.buttom-visited-example:visited {
  background-color: darkblue;
}

ul.list-style-example {
  list-style: none;
  padding: 5px;
  max-width: 400px;
  box-shadow: 4px 4px 10px #717e88;
  border-radius: 15px;
  margin: auto;
}

ul.list-style-example li {
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  color: black;
  background-color: #4fb7fc;
  border: 1px solid #007ff7;
  border-radius: 25px;
}

ul.list-style-example li:hover {
  color: white;
  background-color: #007ff7;
  margin: 0px;
  padding: 15px 25px;
  border-radius: 30px;
  cursor: pointer;
}