<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo 10 - Projeto Página de Captura</title>

  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <header class="header">
    <H1>Participe do workshop que vai mudar o seu negocio</H1>
  </header>

  <main class="content">
    <form method="POST" action="" class="card">
      <p class="bold uppercase">
        Garanta o seu lugar no workshop do maior especialista em marketing da atualizade
      </p>
      <p>
        Neste evento, você vai aprender todos os segredos que vão te fazer ser um empreendedor de sucesso sem precisar
        contar com a sorte.
      </p>
      <input type="text" name="nome" placeholder="Nome">
      <input type="email" name="email" placeholder="Email">
      <select name="estate" id="">
        <option value="rio-de-janeiro">Rio de Janeiro</option>
        <option value="sao-paulo">São Paulo</option>
        <option value="mato-grosso-do-sul">Mato Grosso do Sul</option>
        <option value="goias">Goiás</option>
        <option value="minas-gerais">Minas Gerais</option>
        <option value="parana">Paraná</option>
        <option value="santa-catarina">Santa Catarina</option>
        <option value="rio-grande-do-sul">Rio Grande do Sul</option>
      </select>
      <br>
      <input type="submit" value="Inscrever-se" class="button">
    </form>
  </main>
  <footer class="footer">
    <div>
      <img src="./images/face.jpg" alt="foto do palestrante">
      <h2>O Palestrante</h2>
      <p>
        Carlos Fontana é conhecido por dar palestras que abalam a estrutura do marketing tradicional.
        Prepare-se para sair do evento com uma nova visão do que é possível ser feito para o
        seu negócio decolar.
      </p>
      <p>
        Formado em Marketing pela Universidade XYZ e fundador da MarkUp, a empresa vencedora dos últimos 5 Prêmios MarketingBR.
      </p>
    </div>
  </footer>
</body>

</html>